@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header h1 {
    color: #901C1C;
    margin-right: 100px;
    font-weight: 200;
    font-size: 35px;
}   

h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

.logo {
    height: 50px;
    margin-left: 100px;
    cursor: pointer;

}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}
@media screen and (max-width: 950px) {
    .photographer_section{
        grid-template-columns: 1fr 

    }
  }

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-weight: 200;
    font-size: 30px;
}

.photographPic img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}
.focusDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;


}

.citytext{
    color: #D3573C;


}
.priceItem{
    color: gray;


}
article p {
    margin: 0;

}

.focusDiv{
    cursor: pointer;

}
